.footer {
  height: 80px;
  .inner {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    copy {
      font-size: 14px;
    }
  }
}
