.mobile {
    &.active {
        left: 0 !important;
    }

    position: fixed;
    left: 100%;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9998;
    transition: left 0.3s ease-in-out;

    .mobile-menu {
        li {
            padding: 30px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            span {
                font-size: 30px;
            }
            &:hover span {
                color: #000;
            }
        }
    }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
}
