* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
body {
    overflow-x: hidden;
}
legend,
caption {
  position: absolute;
  left: -999999px;
}
fieldset {
  border: none;
}
table {
  border: none;
  border-collapse: collapse;
  th,
  td {
    border: none;
  }
}
