@charset "utf-8";
// 글꼴
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// 반응형
$desktop: 1180px;
$tablet: 960px;
$mp: 860px;
// 기본 scss
@import "reset";
// 공통 scss
@import "layout";
@import "header";
@import "footer";
@import "gotop";
@import "mobilemenu";

// 섹션 scss
@import "visual";
@import "profile";
@import "skills";
@import "portfolio";
@import "vision";
@import "life";
